* {
  margin: 0;
  padding: 0;
}
.warp {
  position: relative;
}
.warp .top {
  background-color: seashell;
  height: 30px;
  line-height: 30px;
}
.warp .top .container {
  width: 1200px;
  margin: 0 auto;
}
.warp .top .container .top-left {
  float: left;
}
.warp .top .container .top-left p {
  display: inline-block;
  margin-right: 10px;
}
.warp .top .container .top-left .reg {
  border-left: 1px solid #b3aeae;
  padding: 0 5px;
  margin-left: 5px;
}
.warp .top .container .top-right {
  float: right;
}
.warp .top .container .top-right a {
  padding: 0 10px;
  border-right: 1px solid #b3aeae;
}

.warp .bottom {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.warp .bottom .logo1 .logo img {
  width: 180px;
}
.warp .bottom .ss1 {
  float: right;
}
.warp .bottom .ss1 .ss {
  position: absolute;
  top: -15px;
  left: 640px;
}
.warp .bottom .ss1 .ss input {
  width: 490px;
  height: 32px;
  padding: 0px 4px;
  border: 2px solid red;
  float: left;
  box-sizing: border-box;
  margin-top: 35px;
}
.warp .bottom .ss1 .ss button {
  width: 68px;
  height: 32px;
  background-color: red;
  color: #fff;
  margin-top: 35px;
  border: 1px solid red;
}
.warp .type-nav {
  border-bottom: 2px solid red;
}
.warp .type-nav .container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  position: relative;
}
.warp .type-nav .container .all {
  width: 210px;
  height: 45px;
  background-color: red;
  line-height: 45px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.warp .type-nav .container .nav {
  position: absolute;
  top: 20px;
  left: 245px;
}
.warp .type-nav .container .nav a {
  height: 45px;
  margin: 0 22px;
  line-height: 45px;
  font-size: 16px;
  color: #333;
}
.warp .sort {
  width: 210px;
  height: 461px;
  position: absolute;
  top: 80px;
  left: 0;
  background: seashell;
}
.warp .sort .all-sort-list2 .item h3 {
  line-height: 30px;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  padding: 0 20px;
  margin: 0;
}
.warp .sort .all-sort-list2 .item h3 a {
  color: #333;
}
.warp .sort .all-sort-list2 .item .item-list {
  display: none;
  position: absolute;
  width: 734px;
  min-height: 460px;
  height: 200px;
  background: seashell;
  left: 210px;
  border: 1px solid #ddd;
  top: 0;
  z-index: 9999 !important;
}
.warp .sort .all-sort-list2 .item .item-list .subitem {
  float: left;
  width: 650px;
  padding: 0 4px 0 8px;
}
.warp .sort .all-sort-list2 .item .item-list .subitem dl {
  border-top: 1px solid #eee;
  padding: 6px 0;
  overflow: hidden;
  zoom: 1;
}
.warp .sort .all-sort-list2 .item .item-list .subitem dl.fore {
  border-top: 0;
}
.warp .sort .all-sort-list2 .item .item-list .subitem dl dt {
  float: left;
  width: 54px;
  line-height: 22px;
  text-align: right;
  padding: 3px 6px 0 0;
  font-weight: 700;
}
.warp .sort .all-sort-list2 .item .item-list .subitem dl dd {
  float: left;
  width: 415px;
  padding: 3px 0 0;
  overflow: hidden;
}
.warp .sort .all-sort-list2 .item .item-list .subitem dl dd em {
  float: left;
  height: 14px;
  line-height: 14px;
  padding: 0 8px;
  margin-top: 5px;
  border-left: 1px solid #ccc;
}
.warp .sort .all-sort-list2 .item:hover .item-list {
  display: block;
}
.warp .list-container {
  width: 1200px;
  margin: 0 auto;
}
.warp .list-container .sortList {
  height: 464px;
  padding-left: 210px;
}
.warp .list-container .sortList .center {
  box-sizing: border-box;
  width: 740px;
  height: 100%;
  padding: 5px;
  float: left;
}
.warp .list-container .sortList .right {
  float: left;
  width: 250px;
}
.warp .list-container .sortList .right .news {
  border: 1px solid #e4e4e4;
  margin-top: 5px;
}
.warp .list-container .sortList .right .news h4 {
  border-bottom: 1px solid #e4e4e4;
  padding: 5px 10px;
  margin: 5px 5px 0;
  line-height: 22px;
  overflow: hidden;
  font-size: 14px;
}
.warp .list-container .sortList .right .news h4 .fl {
  float: left;
}
.warp .list-container .sortList .right .news h4 .fr {
  float: right;
  font-size: 12px;
  font-weight: 400;
}
.warp .list-container .sortList .right .news .news-list {
  padding: 5px 15px;
  line-height: 26px;
}
.warp .list-container .sortList .right .news .news-list .bold {
  font-weight: 700;
}
.warp .list-container .sortList .right .lifeservices {
  border-right: 1px solid #e4e4e4;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.warp .list-container .sortList .right .lifeservices .life-item {
  border-left: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  margin-right: -1px;
  height: 64px;
  text-align: center;
  position: relative;
  cursor: pointer;
  width: 25%;
}
.warp .list-container .sortList .right .lifeservices .life-item .list-item {
  background-image: url(../images/home/icons.png);
  width: 61px;
  height: 40px;
  display: block;
}
.warp .list-container .sortList .right .lifeservices .life-item .service-intro {
  line-height: 22px;
  width: 60px;
  display: block;
}
.warp
  .list-container
  .sortList
  .right
  .lifeservices
  .life-item:nth-child(1)
  .list-item {
  background-position: 0px -5px;
}
.warp
  .list-container
  .sortList
  .right
  .lifeservices
  .life-item:nth-child(2)
  .list-item {
  background-position: -62px -5px;
}
.warp
  .list-container
  .sortList
  .right
  .lifeservices
  .life-item:nth-child(3)
  .list-item {
  background-position: -126px -5px;
}
.warp
  .list-container
  .sortList
  .right
  .lifeservices
  .life-item:nth-child(4)
  .list-item {
  background-position: -190px -5px;
}
.warp
  .list-container
  .sortList
  .right
  .lifeservices
  .life-item:nth-child(5)
  .list-item {
  background-position: 0px -76px;
}
.warp
  .list-container
  .sortList
  .right
  .lifeservices
  .life-item:nth-child(6)
  .list-item {
  background-position: -62px -76px;
}
.warp
  .list-container
  .sortList
  .right
  .lifeservices
  .life-item:nth-child(7)
  .list-item {
  background-position: -126px -76px;
}
.warp
  .list-container
  .sortList
  .right
  .lifeservices
  .life-item:nth-child(8)
  .list-item {
  background-position: -190px -76px;
}
.warp
  .list-container
  .sortList
  .right
  .lifeservices
  .life-item:nth-child(9)
  .list-item {
  background-position: 0px -146px;
}
.warp
  .list-container
  .sortList
  .right
  .lifeservices
  .life-item:nth-child(10)
  .list-item {
  background-position: -62px -146px;
}
.warp
  .list-container
  .sortList
  .right
  .lifeservices
  .life-item:nth-child(11)
  .list-item {
  background-position: -126px -146px;
}
.warp
  .list-container
  .sortList
  .right
  .lifeservices
  .life-item:nth-child(12)
  .list-item {
  background-position: -190px -146px;
}
.warp .list-container .sortList .right .ads {
  margin-top: 5px;
}
.warp .list-container .sortList .right .ads img {
  opacity: 0.8;
  transition: all 400ms;
}
.warp .list-container .sortList .right .ads img:hover {
  opacity: 1;
}
.warp .today-recommend .py {
  width: 1200px;
  margin: 0 auto;
}
.warp .today-recommend .py .re {
  width: 1200px;
  height: 165px;
  /* float: left; */
  background-color: #eaeaea;
  margin: 10px 0;
  display: flex;
}
.warp .today-recommend .py .re .clock {
  width: 20%;
  background-color: #5c5251;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  line-height: 20%;
}
.warp .today-recommend .py .re .clock .time {
  padding: 30px 0;
  line-height: 20px;
}

.warp .rank {
  width: 1200px;
  margin: 0 auto;
}
.warp .rank .tab {
  margin: 0 auto;
  overflow: hidden;
  width: 312px;
}
.warp .rank .tab .tab-tit {
  text-align: center;
}
.warp .rank .tab .tab-tit a {
  display: block;
  padding: 0 18px;
  float: left;
  text-decoration: none;
  font-size: 16px;
  color: #999;
}
.warp .rank .tab .tab-tit a p {
  margin: 5px 0;
}
.warp .rank .tab .tab-tit a .img i {
  width: 35px;
  height: 35px;
  display: block;
  background: url(../images/home/bg0.png);
  margin-left: 10px;
}
.warp .rank .tab .tab-tit a .text {
  line-height: 28px;
}
.warp .rank .tab .tab-tit .on {
  color: #e60012;
}
.warp .rank .tab .tab-tit .on .img i {
  background-position: -35px 0;
}
.warp .row {
  width: 1200px;
  margin: 0 auto;
}
.warp .row .thumbnail {
  border: 1px solid red;
}
.warp .row .thumbnail .caption .dj {
  color: red;
  font-size: 18px;
  font-weight: 400;
}
.warp .cnxh {
  width: 1200px;
  margin: 0 auto;
}
.warp .cnxh .row {
  border: 1px solid #666;
}
.warp .cnxh .thumbnail {
  border: 0px;
}
.warp .cnxh .thumbnail .q {
  font-size: 20px;
  font-weight: 500px;
  color: red;
}
.warp .cnxh .row .thumbnail img {
  width: 142px;
  height: 142px;
  transition: all 400ms;
  overflow: hidden;
}
.warp .cnxh .row .thumbnail img:hover {
  opacity: 0.8;
  transform: scale(1.05);
}
.warp .jydq {
  margin-top: 15px;
}
.warp .jydq .jydq1 {
  width: 1200px;
  margin: 0 auto;
}
.warp .jydq .jydq1 .title .j1 {
  float: left;
  font-size: 20px;
  font-weight: 700;
  color: red;
  line-height: 30px;
  margin: 9px 0;
}
.warp .jydq .jydq1 .title .j2 {
  float: right;
}
.warp .jydq .jydq1 .title .j2 .nav-tabs {
  display: inline-block;
  margin: 10px 0 0;
}
.warp .jydq .jydq1 .title .j2 .nav-tabs li {
  float: left;
  line-height: 18px;
  margin-left: 9px;
  border-right: 1px solid #666;
}
.warp .jydq .jydq1 .title .j2 .nav-tabs .active {
  border-right: 1px solid red;
}
.warp .jydq .jydq1 .title .j2 .nav-tabs li a {
  padding-top: 1px;
  font-weight: 400;
  background-color: #fff;
  color: #333;
}

.warp .jydq .jydq1 .ta-content {
  border-top: 2px solid #c81623;
  border-bottom: 1px solid #e4e4e4;
}

.warp .jydq .jydq1 .ta-content .ta-pane .floor-1 {
  height: 360px;
  display: flex;
  background: seashell;
}
.warp .jydq .jydq1 .ta-content .ta-pane .floor-1 .blockgary {
  width: 210px;
  height: 100%;
  background: seashell;
}
.warp .jydq .jydq1 .ta-content .ta-pane .floor-1 .blockgary .jd-list {
  padding: 15px 0;
  overflow: hidden;
}
.warp .jydq .jydq1 .ta-content .ta-pane .floor-1 .blockgary .jd-list li {
  list-style-type: none;
  float: left;
  width: 40%;
  margin: 0 10px;
  border-bottom: 1px solid #e4e4e4;
  text-align: center;
  line-height: 26px;
}
.warp .jydq .jydq1 .ta-content .ta-pane .floor-1 .blockgary img {
  width: 100%;
}
.warp .jydq .jydq1 .ta-content .ta-pane .floor-1 .floorBanner {
  width: 330px;
  height: 100%;
}
.warp .jydq .jydq1 .ta-content .ta-pane .floor-1 .split {
  width: 220px;
  height: 100%;
  position: relative;
}
.warp .jydq .jydq1 .ta-content .ta-pane .floor-1 .split .floor-x-line {
  position: absolute;
  background: #e4e4e4;
  width: 220px;
  height: 1px;
  top: 180px;
}
.warp .jydq .jydq1 .ta-content .ta-pane .floor-1 .split .floor-conver-pit {
  width: 100%;
  height: 50%;
}
.warp .jydq .jydq1 .ta-content .ta-pane .floor-1 .split .floor-conver-pit img {
  width: 100%;
  height: 100%;
  transition: all 400ms;
}
.warp
  .jydq
  .jydq1
  .ta-content
  .ta-pane
  .floor-1
  .split
  .floor-conver-pit
  img:hover {
  opacity: 0.8;
}
.warp .jydq .jydq1 .ta-content .ta-pane .floor-1 .center {
  border: 1px solid #e4e4e4;
}
.warp .tu {
  margin: 10px 0;
}
.warp .tu .py-container {
  width: 1200px;
  margin: 0 auto;
}
.warp .tu .py-container .brand-list {
  overflow: hidden;
  padding: 15px 0;
  background: #f7f7f7;
  line-height: 18px;
}
.warp .tu .py-container .brand-list .brand-item {
  width: 120px;
  float: left;
  height: 37px;
}
.warp .tu .py-container .brand-list .brand-item img {
  border-left: 1px dotted #ccc;
  padding: 0 10px;
}
.warp .tu .py-container .brand-list .brand-item:first-child img {
  border-left: 0;
}
.warp .footer {
  background-color: seashell;
}
.warp .footer .footer1 {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.warp .footer .footer1 .footerList {
  padding: 20px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  padding-left: 40px;
  overflow: hidden;
}
.warp .footer .footer1 .footerList .footerItem {
  float: left;
  width: 170px;
}
.warp .footer .footer1 .footerList .footerItem h4 {
  font-weight: 700;
  font-size: 14px;
}
.warp .footer .footer1 .footerList .footerItem img {
  width: 121px;
}
.warp .footer .footer1 .copyright {
  padding: 20px;
}
.warp .footer .footer1 .copyright .helpLink {
  text-align: center;
}
.warp .footer .footer1 .copyright .helpLink li {
  display: inline;
}
.warp .footer .footer1 .copyright .helpLink li .space {
  width: 1px;
  height: 13px;
  background: #666;
  border-left: 1px solid #666;
  margin: 8px 10px;
}
.warp .footer .footer1 .copyright p {
  margin: 10px 0;
  text-align: center;
}
