.header-wrap{
	height: 35px;
	background: #f5f5f5;
	border-bottom: 1px solid #eee;
}
.header{
	width:1190px;
	height:35px;
	background:pink;
	margin:0 auto;
}
.header .list-left{
	float:left;
}
.header .list-left li{
	float: left;
	height: 35px;
	line-height: 35px;
}
.header .list-left .two{
	margin: 0 21px 0 5px;
}
.header .list-left li a{
	display: block;
}
.header .list-right{
	float:right;
}
.header .list-right li{
	float: right;
	height: 35px;
	line-height: 35px;
}
.header .list-right .three{
	margin: 0 40px 0 0;
}
.header .list-right li a{
	display: block;
}
.aa{
	width:1190px;
	height:60px;
	background:pink;
	margin:0 auto;
}
.aa .aa1{
	width: 150px;
	height: 60px;
	background: url(../images/logo.jpg) no-repeat;
	float: left;
}