body{
	background: #f1f1f1;
	height: 10000px;
}
.white-wrap{
	height: 150px;
	background: #fff;
}
.white{
	width: 1190px;
	height: 150px;
	background: pink;
	margin: 0 auto;
	position: relative;
}
.white .logo{
	float: left;
	margin: 38px 0 0 22px;
}
.white .logo a{
	background: url(../images/logo2.png) no-repeat 0 0;
	display: block;
	width: 142px;
	height: 58px;
	text-indent: -9999px;
}
.white-c{
	width: 680px;
	height: 120px;
	background: yellow;
	float: left;
	margin: 30px 0 0 104px;
}
.white-c txt{
	float: left;
	width: 500px;
	height: 34px;
	border: 3px solid #f50;
	border-right:none;
	background: url(../images/fang.png) no-repeat 13px 11px;
	text-indent: 32px;
}
.white-c .bth{
	float: left;
	width: 122px;
	height: 40px;
	background: #ff4200;
	color: #fff;
	border: none;
	font-size: 18px;
	font-family: "宋体";
	font-weight: 700;
}
.white-c .gao{
	float: left;
	margin-left: 9px;
}
.white-c .list li{
	float: left;
	margin-right: 8px;
}
.white-c .list li a{
	display: block;
	height: 36px;
	line-height: 36px;
}
