body{
	background: #f1f1f1;
	height: 10000px;
}
.header-wrap{
	height: 35px;
	background: #f5f5f5;
	border-bottom: 1px solid #eee;
}
.header{
	width: 1190px;
	height: 35px;
	/* background: pink; */
	margin: 0 auto;
}
.header .list-left{
	float:left;
}
.header .list-left li{
	float:left;
	/* 为了避免调整行高时,高度会随着变换,建议设置
		固定高度
	 */
	height: 35px;
	line-height: 35px;
	/* border:1px solid blue; */
}

.header .list-left .two{
	/* 第一种 */
	margin: 0 21px 0 5px;
	/* 第二种 */
	/* padding: 0 21px 0 5px ; */
}
.header .list-left .two a{
	/*第三种 */
	/* margin: 0 21px 0 5px; */
	/* 第四种 */
	/* padding: 0 21px 0 5px; */
}


.header .list-left li a{
	display: block;
	/* border:1px solid red; */
}

.header .list-right{
	float:right;
}

.white-wrap{
	height: 150px;
	background: #fff;
}
.white{
	width: 1190px;
	height: 150px;
	/* background: pink; */
	margin: 0 auto;
	position: relative;
}
.white .logo{
	float: left;
	margin: 38px 0 0 22px;
}
/* 第一种 插入图 */
/* .white .logo a{
	display: block;
	height: 58px;
	overflow: hidden;
}
 */
.white .logo a{
	background: url(../images/logo2.png) no-repeat 0 0;
	display: block;
	width: 142px;
	height: 58px;
	text-indent: -9999px;
}
.white-c{
	/* width: 680px;
	height: 120px;
	background: yellow; */
	float: left;
	margin: 30px 0 0 104px;
}
.baby li{
	float: left;
	width: 50px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #f40;
	cursor: pointer;
}
.baby li:hover{
	background: #ffeee5;
}
.baby li.current{
	background: #f40;
	color: #fff;
	font-weight: 700;
}
.baby .one{
	position: relative;
}
.baby .one img{
	position: absolute;
	left: 38px;
	top: -12px;
}
.white-c .txt{
	float: left;
	width: 500px;
	height: 34px;
	border: 3px solid #f50;
	border-right: none;
	background: url(../images/fang.png) no-repeat 13px 11px;
	text-indent: 32px;
}
.white-c .btn{
	float: left;
	width: 122px;
	height: 40px;
	background: #ff4200;
	color: #fff;
	border: none;
	font-size: 18px;
	font-family: "宋体";
	font-weight: 700;
}
.white-c .gao{
	float: left;
	margin-left: 9px;
}

.white-c .list li{
	float:left;
	margin-right: 8px;
} 
.white-c .list li a{
	display: block;
	height: 36px;
	line-height: 36px;
}
.white .ercode{
	width: 94px;
	height: 112px;
	border: 1px solid #eee;
	position: absolute;
	right:0;
	top:33px;
}
.ercode .close{
	width: 18px;
	height: 18px;
	border: 1px solid #eee;
	position: absolute;
	left:-20px;
	top:-1px;
	line-height: 18px;
	text-align: center;
}
.ercode a h5{
	text-align: center;
	margin: 3px 0 ;
	font-weight: 400;
}
.ercode a img{
	margin: 0 auto;
}

.main{
	width: 1190px;
	height: 555px;
	/* background: pink; */
	margin: 0 auto;
}
.main-left{
	width: 190px;
	height: 555px;
	background: #ff6537;
	float: left;
	/* color: white; */
}





.main-left .nv{
	width: 169px;
	height: 475px;
	margin: 0 auto;
	color: white;
}

.main-left .nv .sc{
	display: block;
	left: 0;
	top:0;
	color: white;
	font-weight: 700;
/* 	height: 15px;
	line-height: 15px; */
}
.main-left .nv .yp{
	display: block;
	left: 0;
	top: 15px;
	padding:15px 0 0 0;
	width: 133px;
	height: 15px;
	line-height: 15px;
	color: white;
	font-weight: 700;
}
.main-left .nv b{
	float: right;
	display: block;
	width: 3px;
	height: 3px;
	margin: -16px 0 0 0;
}






.main-right{
	width: 990px;
	height: 555px;
	/* background: greenyellow; */
	float: right;
}
.nav{
	height: 44px;
	background: #f1f1f1;
}
.nav .list01{
	float: left;
}
.nav .list01 li{
	float: left;
	margin-right: 6px;
}
.nav .list01 li a{
	display: block;
	height: 28px;
	line-height: 28px;
	font-size: 16px;
	font-weight: 700;
	color: #f40;
	border-radius: 13px;
	padding: 0 8px;
}
.nav .list01 li a:hover{
	color: #fff;
	background: #f40;
}
.nav ul{
	margin-top: 4px;
}
.nav .list02{
	float: left;
}
.nav .list02 li{
	float: left;
	margin-right: 7px;
}
.nav .list02 li a{
	display: block;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	font-weight: 700;
	color: #3c3c3c;
	border-radius: 13px;
	padding: 0 5px;
}
.nav .list02 li a:hover{
	color: #fff;
	background: #f40;
}
.main-right-b{
	height: 51px;
	/* background: goldenrod; */
}
.banner{
	width: 520px;
	height: 511px;
	background: pink;
	float: left;
}
.banner-t{
	height: 280px;
	/* background: yellow; */
	position: relative
}
/* .banner .lr{
	text-align: center;
} */
.banner .lr span{
	text-align: center;
	width: 41px;
	height: 69px;
	line-height: 69px;
	color: red;
	font-weight: 700;
	background: #000;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -35px;
	cursor: pointer;
	opacity: 0.5;
}

.banner-t .lr span.rightBtn{
	left: auto;
	right: 0;
}
.banner-t .lr ol{
	position: absolute;
    right: 200px;
    bottom: 26px;
}
.banner-t .lr ol li.current{
	background: #dedede;
    border-color: #8a8a8a;
}
.banner-t .lr ol li{
    float: left;
    width: 6px;
    height: 6px;
    background: #787878;
    border: 2px solid #a3a3a3;
    border-radius: 50%;
    margin-left: 8px;
    cursor: pointer;
}
.banner-t .lr ol li:hover{
	background: #dedede;
	border-color: #8a8a8a;
}
.banner-b{
	height: 231px;
	background: #fff;
}
.tmall{
	height: 27px;
	background: #f1f1f1;
	border-bottom: 2px solid #c12c26;
	position: relative;
}
.tmall h3{
	float: left;
	font-size: 14px;
	color: #6c6c6c;
	background: url(../images/tmall.gif) no-repeat -4px 2px;
	padding-left: 47px;
	margin-top:8px;
}
.tmall h4{
	float:left;
	font-weight: 400;
	margin-top: 9px;
	margin-left: 10px;
}
.tmall .page{
	float:right;
	margin-top: 11px;
}
.tmall .line{
	width: 105px;
	height: 2px;
	background: #000;
	position: absolute;
	left:0;
	bottom:-2px;
}
.banner-b .ff{
	margin: 0 auto;
	display: block;
}
.banner-b .ff .ff1{
	float: left;
	display: block;
	width: 506px;
	height: 156px;
	margin: 20px 0 0 7px;
}

.banner-b .ff .ff1 .ff2{
	float: left;
	margin-right: 3px;
}
.banner-b .ff .ff1 .ff3{
	float: left;
	margin-left: 2px;
}



.banner-b{
	/* height: 280px; */
	/* background: yellow; */
	position: relative
}
.banner-b .rl span{
	text-align: center;
	width: 41px;
	height: 69px;
	line-height: 69px;
	color: red;
	font-weight: 700;
	background: #000;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -20px;
	cursor: pointer;
	opacity: 0.3;
}

.banner-b .rl span.rightBtn1{
	left: auto;
	right: 0;
}
.banner-b .rl ol{
	position: absolute;
    right: 220px;
    bottom: 26px;
}
.banner-b .rl ol li.current{
	background: #dedede;
    border-color: #8a8a8a;
}
.banner-b .rl ol li{
    float: left;
    width: 6px;
    height: 6px;
    background: #787878;
    border: 2px solid #a3a3a3;
    border-radius: 50%;
    margin-left: 8px;
    cursor: pointer;
}
.banner-b .rl ol li:hover{
	background: #dedede;
	border-color: #8a8a8a;
}






.nav .list01 li{
	position: relative;
}
.nav .list01 li img{
	position: absolute;
	left:38px;
	top:-12px;
}
.main-right-b{
	height: 511px;
	/* background: goldenrod; */
}
.main-right-b .main-c{
	width: 160px;
	height: 511px;
	/* background: plum; */
	float: left;
	display: block;
	margin: 0 10px ;
}
.main-c .mainb h4{
	float:left;
	font-weight: 100;
}





.user{
	width: 290px;
	height: 511px;
	background: skyblue;
	float: right;
}
.user-t{
	height: 167px;
	background: #fff url(../images/member-bg.jpg) no-repeat;
	border-bottom: 2px solid #eee;
	overflow: hidden;
}
.user-c{
	height: 109px;
	border-bottom: 2px solid #eee;
	background: #fff;
}
.user-b{
	height: 231px;
	background: #fff;
}
.user-b ul li{
	float:left;
	width: 71px;
	height: 76px;
	border-right: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
}
.user-b ul li a{
	display: block;
	
}
.user-b ul li a img{
	width: 24px;
	height: 24px;
	margin: 10px auto;
}
.user-b ul li a h5{
	text-align: center;
	font-weight: 400;
}

.user-b .width72{
	width: 72px;
}
.wangwang{
	width: 60px;
	margin: 15px auto 5px;
}
.wangwang a img{
	width: 60px;
	margin: 15px auto 5px;
	width: 60px;
	border-radius: 50%;
}
.user-t h3{
	font-weight: 400;
	text-align: center;
}
.money{
	padding-left: 54px;
}
.money a{
	float: left;
}
.money span{
	float: left;
}
.money img{
	float: left;
	width: 16px;
	margin: 2px 5px 0 0;
}
.money .huo{
	margin: 0 5px;
}
.user-t .list{
	margin-top: 5px;
}
.user-t .list li{
	float: left;
	margin-right: 7px;
}
.user-t .list li a{
	display: block;
	width: 75px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	background: #f40;
}
.user-t .list li a:hover{
	background: #f22d00;
}
.user-t .list .one{
	width: 92px;
}





.user-c{
	width: 290px;
	height: 109px;
	/* background: pink; */
	margin: 0 auto;
}
.user-c .gy{
	width: 255px;
	height: 20px;
	/* float: left; */
	/* background: beige; */
	padding: 15px;
}
.user-c .gy li{
	float: left;
	/* display: block; */
	margin-left:21px ;
}
.user-c .gy li:hover {
	font-weight: 700;
	border-bottom: 2px solid #ff4400;
	cursor: pointer;
}

.user-c .al{
	display: block;
	width: 255px;
	height: 50px;
	/* background: plum; */
	margin:0 auto;
}
.gy .current {
	/* 默认选中 */
	font-weight: 700;
	border-bottom: 2px solid #ff4400;
	cursor: pointer;
}