<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>08_条件渲染</title>
  </head>
  <body>
    <!--
      1. 条件渲染指令
        v-if
        v-else
        v-show
      2. 比较v-if与v-show
        如果需要频繁切换 v-show 较好
      -->

    <div id="app "></div>
    <p v-if="a">111</p>
    <p v-else>222</p>

    <p v-if="a">111~</p>
    <p v-else-if="b">222~</p>
    <p v-else>333~</p>

    <p v-show="a">111~~</p>
    <p v-show="!a">222~~</p>
    <button @click="a = !a">点击切换</button>
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript">
      new Vue({
        data: {
          a: false,
          b: false,
        },
      }).$mount("#app");
    </script>
  </body>
</html>
