/*llll*/
.box {
  width: 400px;
  height: 400px;
  background: pink;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.box .inner {
  width: 200px;
  height: 200px;
  background: skyblue;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.wrap {
  width: 6;
}
.wrap .box1 {
  width: 3;
}
