* {
  margin: 0;
  padding: 0;
}
.list {
  width: 400px;
  border: 1px solid #000;
  margin: 0 auto;
  list-style: none;
}
.list li {
  height: 30px;
  line-height: 30px;
}
.list li:hover {
  background: pink;
}
.list li:nth-child(2) {
  background: springgreen;
}
.list li::after {
  content: '111';
}
.list > a {
  color: yellowgreen;
}
.box {
  width: 100px;
}
