/*清除默认样式*/
html,body{height: 100%;overflow: hidden}
html,body,h1,h2,h3,h4,h5,h6,p,ul,li{margin: 0px;padding: 0px;font: 14px "微软雅黑";}
a{text-decoration: none;display: block;}
li{list-style: none;}
img{display: block;}
/*清除浮动*/
.clearfix{*zoom: 1;}
.clearfix:after{content: "";display: block;clear: both;}
.commonTitle{ color:#fff; font-size:50px; line-height:1;
    font-weight:bold; letter-spacing:5px;position: relative;z-index: 9;
}
.commonText{ color:white; line-height:1.5; font-size:15px;}
#header{
    width: 100%;
    height: 80px;
    position: relative;
}
#header .headerMain{
    width: 1100px;
    height: 100%;
    margin:  0 auto;
}
#header .headerMain .logo{
    float: left;
    margin-top: 15px;
}
#header .headerMain .nav{
    float: right;
    margin-top: 50px;
}
#header .headerMain .nav li{
    float: left;
    margin-left: 40px;
    position: relative;
}
#header .headerMain .nav li .up{
    color: #000;
    position: absolute;
    left:0;
    top: 0;
    width: 0;
    overflow: hidden;
    /*强制文本不换行*/
    white-space: nowrap;
    transition:  width 1s;
}
#header .headerMain .nav li:hover .up{
    width: 100%;
}
#header .arrow{
    position: absolute;
    left:50%;
    bottom:-11px;
    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
    width: 21px;
    height: 11px;
    transition:left 1s;
    z-index: 9;
}
/*内容区域*/
.content{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.content .list{
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    transition: 1s;
}
.content .list>li{
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
}
.content .list>li>div{
    width: 1100px;
    height: 520px;
    /*background: skyblue;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

/*第三屏*/
.content .list>li:nth-child(3){
    background-image: url("../img/bg3.jpg");
}
.works .works1{
    margin: 50px 0 220px 50px;
}
.works .works2{
    margin-left: 50px;
    position: relative;
    z-index: 2;
}
.works .works2 .item{
    float: left;
    margin: 0 1px;
    width: 220px;
    height: 133px;
    position: relative;
    overflow: hidden;
}
.works .works2 .item:last-child{
    width: 332px;
}
.works .works2 .item .mask{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    padding: 10px;
    background: rgba(25,25,25,0.8);
    color: #fff;
    opacity: 0;
    transition: 1s;
}
.works .works2 .item .mask>.icon{
    width: 32px;
    height: 34px;
    background-image: url("../img/zoomico.png");
    background-repeat: no-repeat;
    margin: 10px auto 0;
    transition: 1s;
}
.works .works2 .item:hover .mask{
    opacity: 1;
}
.works .works2 .item:hover .mask>.icon{
    background-position: 0 -35px;
}
.works .works2 .item>img{
    transition: 1s;
}
.works .works2 .item:hover img{
    transform: rotate(15deg) scale(1.5);
}
.works .works3{
    width: 167px;
    height: 191px;
    background-image: url("../img/robot.png");
    background-repeat: no-repeat;
    position: absolute;
    left:900px;
    top:170px;
    animation: work3Move 4s infinite linear;
    z-index: 3;
}
/*
    如果希望animation的关键帧区间保持一个状态  那就要让这两个关键帧之间没有属性的差值
    需要瞬间改变时  就设置一个非常小的关键帧区间 比如49%~50%  用来瞬间修改这些属性
*/
@keyframes work3Move {
    49%{
        transform: rotateY(0deg);
    }
    50%{
        left:40%;
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateY(180deg);
    }
}



.works .pencel1{ width:180px; height:97px; background:url(../img/pencel1.png) no-repeat; position:absolute; transition:1s; left:500px; top:0;}
.works .pencel2{ width:268px; height:38px; background:url(../img/pencel2.png) no-repeat; position:absolute; transition:1s; left:300px; top:250px;}
.works .pencel3{ width:441px; height:231px; background:url(../img/pencel3.png) no-repeat; position:absolute; transition:1s; left:650px; top:300px;}

/*第四屏*/
.content .list>li:nth-child(4){
    background-image: url("../img/bg4.jpg");
}
.about .about1{
    margin: 50px 0 100px 50px;
}
.about .about2{
    width: 400px;
    margin-left: 50px;
}
.about .about3>.item{
    width: 260px;
    height: 200px;
    border:5px solid rgba(255,255,255,0.5);
    position: absolute;
    border-radius: 8px;
    transition: 1s;
}
.about .about3>.item:nth-child(1){
    left:750px;
    top:50px;
    z-index: 10;
}
.about .about3>.item:nth-child(2){
    left:600px;
    top:290px;
}
.about .about3>.item>span,.about .about3>.item>ul{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.about .about3>.item:nth-child(1)>span{
    background-image: url("../img/about2.jpg");
}
.about .about3>.item:nth-child(2)>span{
    background-image: url("../img/about4.jpg");
}
.about .about3>.item>ul>li{
    overflow: hidden;
    float: left;
    position: relative;
}
.about .about3>.item>ul>li>img{
    position: absolute;
    transition: 1s;
}
/*第二屏*/
.content .list>li:nth-child(2){
    background-image: url("../img/bg2.jpg");
}
.course .course1{
    margin: 50px;
}
.course .course2{
    margin-left: 50px;
    width: 400px;
    position: relative;
    z-index: 2;
}
.course .course3{
    width: 480px;
    position: absolute;
    right:50px;
    top:70px;
    z-index: 10;
}
.course .course3 .item{
    width: 120px;
    height: 132px;
    float: left;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.course .course3 .item .itemInner{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 1s;
}
.course .course3 .item .itemInner .front{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url("../img/pcwelt.png");
    background-repeat: no-repeat;
    background-position: center;
    backface-visibility: hidden;
}
.course .course3 .item .itemInner .back{
    background: #009ee0;
    padding: 15px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
.course .course3 .item:hover .itemInner{
    transform: rotateY(180deg);
}
.course .course3 .line{
    position: absolute;
    left:0;
    top:-5px;
    background-image: url("../img/plus_row.png");
    background-repeat: no-repeat;
    width: 9px;
    height: 410px;
}
.course .course3 .line:nth-child(1){  left:-6px;}
.course .course3 .line:nth-child(2){  left:114px;}
.course .course3 .line:nth-child(3){  left:234px;}
.course .course3 .line:nth-child(4){  left:354px;}
.course .course3 .line:nth-child(5){  left:474px;}
.course .plane1{ width:359px; height:283px; background:url(../img/plane1.png) no-repeat; position:absolute; left:300px; top:-100px; transition:1s;}
.course .plane2{ width:309px; height:249px; background:url(../img/plane2.png) no-repeat; position:absolute; left:-100px; top:200px; transition:1s;}
.course .plane3{ width:230px; height:182px; background:url(../img/plane3.png) no-repeat; position:absolute; left:300px; top:400px; transition:1s;}


/*第一屏*/
.content .list>li:nth-child(1){
    background-image: url("../img/bg1.jpg");
}
.content .list .home .homeList{
    width: 1100px;
    height: 520px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: 1s;
}
.content .list .home .homeList>li{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    visibility: hidden;
}
.content .list .home .homeList>li.active{
    visibility: visible;
}
.content .list .home .homeList>li>p{
    width: 100%;
    height: 100%;
    line-height: 520px;
    text-align: center;
}
.content .list .home .homeList>li:nth-child(1){
    background:#dc6c5f;
}
.content .list .home .homeList>li:nth-child(2){
    background:#95dc84;
}
.content .list .home .homeList>li:nth-child(3){
    background:#64b9d2;
}
.content .list .home .homeList>li:nth-child(4){
    background:#000;
}
/*点击右侧：左边隐藏，右边显示*/
.content .list .home .homeList>li.leftHide{
    animation: leftH 2s linear;
    visibility: hidden;
}
@keyframes leftH {
    0%{
        visibility: visible;
    }
    50%{
        transform: translateX(-40%) rotateY(30deg) scale(0.8);
    }
    100%{
        transform: translateZ(-200px);
    }
}
.content .list .home .homeList>li.rightShow{
    animation: rightS 2s linear;
    visibility: visible;
}
@keyframes rightS {
    0%{
        visibility: hidden;transform: translateZ(-200px);
    }
    50%{
        transform: translateX(40%) rotateY(-30deg) scale(0.8);
    }
}
/*点击左侧：左边显示，右边隐藏*/
.content .list .home .homeList>li.leftShow{
    animation: leftS 2s linear;
    visibility: visible;
}
@keyframes leftS {
    0%{
        visibility: hidden;transform: translateZ(-200px);
    }
    50%{
        transform: translateX(-40%) rotateY(30deg) scale(0.8);
    }
}
.content .list .home .homeList>li.rightHide{
    animation: rightH 2s linear;
    visibility: hidden;
}
@keyframes rightH {
    0%{visibility: visible}
    50%{
        transform: translateX(40%) rotateY(-30deg) scale(0.8);
    }
    100%{
        transform: translateZ(-200px);
    }
}


.content .list .home .homeIcon{
    position: absolute;
    left:50%;
    bottom:0;
    transform: translateX(-50%);
    transition: 1s;
}
.content .list .home .homeIcon>li{
    width: 20px;
    height: 20px;
    float: left;
    border-radius: 50%;
    background: rgba(255,255,255,0.5);
    margin: 2px;
    box-shadow: 0 0 4px rgba(25,25,25,0.8);
}
.content .list .home .homeIcon>li.active{
    background: #fff;
}
/*第五屏*/
.content .list>li:nth-child(5){
    background-image: url("../img/bg5.jpg");
}
.content .list .team .team1,.content .list .team .team2{
    width: 400px;
    margin: 50px;
    transition: 1s;
}
.content .list .team .team1{
    float: left;
}
.content .list .team .team2{
    float: right;
}
.content .list .team .team3{
    width: 944px;
    height: 448px;
    position: absolute;
    top:230px;
    left:50%;
    margin-left: -472px;
}
.content .list .team .team3>li{
    width: 236px;
    height: 100%;
    float: left;
    background-image: url("../img/team.png");
    background-repeat: no-repeat;
}
.content .list .team .team3>li:nth-child(1){background-position:3px 0 }
.content .list .team .team3>li:nth-child(2){background-position:-230px 0 }
.content .list .team .team3>li:nth-child(3){background-position:-483px 0 }
.content .list .team .team3>li:nth-child(4){background-position:-710px 0 }
/*侧边导航*/
#menuBar{
    position: fixed;
    top:50%;
    right:10px;
    z-index: 9;
}
#menuBar li{
    width: 15px;
    height: 15px;
    border:1px solid #000;
    margin-top: 10px;
    border-radius: 50%;
}
#menuBar li.active{
    background: #c8ff2f;
}
/*开机动画*/
#mask{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 99;
}
#mask>div{
    position: absolute;
    left:0;
    width: 100%;
    height: 50%;
    background: #009ee0;
    transition: height 1s;
}
#mask .maskTop{
    top:0;
}
#mask .maskBottom{
    bottom: 0;
}
#mask .maskLine{
    position: absolute;
    left:0;
    top:50%;
    width: 0;
    height: 4px;
    margin-top: -2px;
    background: #fff;
    transition: width 1s;
}





