body{
	background: #f1f1f1;
	height: 10000px;
	overflow-x: hidden;
}
.header-wrap{
	height: 35px;
	background: #f5f5f5;
	border-bottom: 1px solid #eee;
}
.header{
	width: 1190px;
	height: 35px;
	/* background: pink; */
	margin: 0 auto;
}
.header .list-left{
	float:left;
}
.header .list-left li{
	float:left;
	height: 35px;
	line-height: 35px;
}
.header .list-left .china{
	width: 79px;
	height: 35px;
	text-align: center;
	position: relative;
}
.header .list-left .china i{
	width: 77px;
	height: 35px;
	border-left:1px solid blue;
	border-right:1px solid blue;
	position: absolute;
	left:0;
	top:0;
	display: none;
	background: #fff;
	z-index: 4;
}
.header .list-left .china:hover i,.header .list-left .china:hover div{
	display: block;
}

.header .list-left .china div{
	width:270px;
	height: 290px;
	background: #fff;
	border:1px solid blue;
	position: absolute;
	left:0;
	top:34px;
	z-index: 3;
	padding-top: 10px;
	overflow-x: hidden;
	display: none;
}
.header .list-left .china div ul li{
	width: 270px;
	line-height: 30px;
	display: block;
	/* background: yellow; */
	text-align: left;
	text-indent: 5px;
}
.header .list-left .china div ul li:hover{
	background: #f5f5f5;
}




.header .list-left .two{
	margin: 0 21px 0 5px;
}
.header .list-left li a{
	display: block;
}

.header .list-right{
	float:right;
}
.header .list-right li{
	float:left;
	padding: 0 5px;
	/* background: pink; */
	height: 35px;
	line-height: 35px;
}
.header .list-right li a{
	float:left;
}
.header .list-right li a i{
	float:left;
	margin-right: 5px;
}
.header .list-right li a span{
	float:left;
}
.header .list-right li em{
	float:left;
	margin-left: 7px;
	color:#9c9c9c;
}
.header .list-right li a:hover i{
	color:blue !important;
}
.header .list-right li a:hover span{
	color:green !important;
}
.year-wrap{
	height: 100px;
	background: #D91E1C;
}
.year{
	width: 1190px;
	height: 100px;
	/* background: pink; */
	margin: 0 auto;
}
.year .go{
	float:left;
	margin: 10px 0 0 15px;
}
.year ul{
	float:left;
	margin: 13px 0 0 10px;
}
.year ul li{
	float:left;
	margin-right: 10px;
}
.year ul li a{
	display: block;
	width: 209px;
	height: 75px;
	background: url(../images/shop-bg.png) no-repeat;
	color:#fff;
}
.year ul li a div{
	float:left;
	margin: 12px 0 0 20px;
	height: 47px;
	overflow: hidden;
}
.year ul li a div h4{
	font-size: 20px;

}
.year ul li a div h5{
	font-size: 14px;
		font-weight: 400;
	
}
.year ul li a img{
	float:right;
	width: 52px;
 margin: 12px 14px 0px 0px;
}

.fish-leftBottom{
	width: 360px;
	height: 508px;
	background: url(../images/fish-leftBottom.png) no-repeat;
	position: fixed;
	left:50%;
	margin-left: -955px;
	bottom:0;
}
.fish-rightBottom{
	width: 360px;
	height: 508px;
	background: url(../images/fish-rightBottom.png) no-repeat;
	position: fixed;
	right:50%;
	margin-right: -955px;
	bottom:0;
}

.white-wrap{
	height: 150px;
	background: #fff;
}
.white{
	width: 1190px;
	height: 150px;
	/* background: pink; */
	margin: 0 auto;
	position: relative;
}

.white .fish-left{
	width: 360px;
	height: 800px;
	background: url(../images/fiish-left.png) no-repeat;
	position: absolute;
	left:-360px;
	top:0;
}
.white .fish-right{
	width: 360px;
	height: 800px;
	background: url(../images/fish-right.png) no-repeat;
	position: absolute;
	right:-360px;
	top:0;
}
.white .logo{
	float: left;
	margin: 38px 0 0 22px;
}
.white .logo a{
	background: url(../images/logo2.png) no-repeat 0 0;
	display: block;
	width: 142px;
	height: 58px;
	text-indent: -9999px;
}
.white-c{
	width: 680px;
	height: 120px;
	/* background: yellow; */
	float: left;
	margin: 30px 0 0 104px;
}
.baby li{
	float: left;
	width: 50px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #f40;
	cursor: pointer;
}
.baby li:hover{
	background: #FFEEE5;
}
.baby li.current{
	background: #f40;
	color:#fff;
	font-weight: 700;
}
.baby .one{
	position: relative;
}
.baby .one img{
	position: absolute;
	left:38px;
	top:-12px;
}
.white-c .txt{
	float: left;
	width: 500px;
	height: 34px;
	border: 3px solid #f50;
	border-right:none;
	background: url(../images/fang.png) no-repeat 13px 11px;
	text-indent: 32px;
}
.white-c .btn{
	float: left;
	width: 122px;
	height: 40px;
	background: #ff4200;
	color: #fff;
	border: none;
	font-size: 18px;
	font-family: "宋体";
	font-weight: 700;
}
.white-c .gao{
	float: left;
	margin-left: 9px;
}
.white-c .list li{
	float: left;
	margin-right: 8px;
}
.white-c .list li a{
	display: block;
	height: 36px;
	line-height: 36px;
}
.white .ercode{
	width: 94px;
	height: 112px;
	border: 1px solid #eee;
	position: absolute;
	right: 0;
	top: 33px;
}
.ercode .close{
	width: 18px;
	height: 18px;
	border: 1px solid #eee;
	position: absolute;
	left: -20px;
	top: -1px;
	line-height: 18px;
	text-align: center;
}
.ercode a h5{
	text-align: center;
	margin: 3px 0;
	font-weight: 400;
}
.ercode a img{
	margin: 0 auto;
}
.main{
	width: 1190px;
	height: 555px;
	background: pink;
	margin: 0 auto;
}
.main-left{
	width: 190px;
	height: 555px;
	background: #ff6537;
	float:left;
}
.main-left .market{
	height: 33px;
	background:goldenrod;
}
.main-left .market a{
	height: 33px;
	display: block;
	padding: 0 10px;
	color:#fff;
	line-height: 33px;
}
.main-left .market a h4{
	float:left;
	font-size: 14px;
}
.main-left .market a em{
	float:right;
	font-size: 22px;
	line-height: 30px;
}
.main-left ul li{
	height: 30px;
	line-height: 30px;
	/* background: skyblue; */
	padding: 0 10px;
	font-weight: 700;
	color:#fff;
	font-size: 13px;
}
.main-left ul li i{
	float:left;
	color:#FF905B;
	font-size: 18px;
	margin-right: 6px;
}
.main-left ul li a{
	float:left;
	color:#fff;
}
.main-left ul li span{
	float:left;
	margin: 0 3px 0 2px;
}
.main-left ul li em{
	float:right;
	line-height: 33px;
	height: 30px;
	font-weight: 400;
}
.main-left ul li:hover{
	background: #f94a14;
}
.main-left ul li a:hover{
	text-decoration: underline;
}
.main-left .car img{
	padding-top: 2px;
}

.main-right{
	width: 990px;
	height: 555px;
	background: greenyellow;
	float:right;
}
.nav{
	height: 44px;
	background: #f1f1f1;
}
.nav .list01{
	float:left;
}
.nav .list01 li{
	float:left;
	margin-right: 6px;
}
.nav .list01 li a{
	display: block;
	height: 28px;
	line-height: 28px;
	font-size: 16px;
	font-weight: 700;
	color:#f40;
	/* 圆角属性 */
	border-radius: 13px;
	padding: 0 8px;
}
.nav .list01 li a:hover{
	color:#fff;
	background: #f40;
}
.nav ul{
	margin-top: 4px;
}
.nav .list02{
	float:left;
}
.nav .list02 li{
	float:left;
	margin-right: 7px;
}
.nav .list02 li a{
	display: block;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	color:#3c3c3c;
	font-weight: 700;
	border-radius: 13px;
	padding: 0 5px;
}
.nav .list02 li a:hover{
	color:#fff;
	background: #f40;
}
.main-right-b{
	height: 511px;
	/* background: goldenrod; */
}
.banner{
	width: 520px;
	height: 511px;
	/* background: pink; */
	float:left;
}
.banner-t{
	height: 280px;
	/* background: yellow; */
}
.banner-t span,.banner-b-slide span{
	width: 24px;
	height: 36px;
	line-height: 36px;
	background: rgba(0,0,0,.3);
	color:#fff;
	text-align: center;
	font-size: 30px;
	position: absolute;
	left:0;
	top:50%;
	margin-top: -18px;
	cursor: pointer;
}
.banner-t span:hover,.banner-b-slide span:hover{
	background: rgba(0,0,0,.6);
}
.banner-t .rightBtn,.banner-b-slide .rightBtn{
	left:auto;
	right:0;
}
.banner-t ol{
	position: absolute;
	left:50%;
	margin-left: -32px;
	bottom:15px;
	background: rgba(255,255,255,.5);
	border-radius: 10px;
}
.banner-t ol li{
	float:left;
	width: 9px;
	height: 9px;
	background: #b7b7b7;
	border-radius: 50%;
	margin: 2px;
}
.banner-t ol li.current{
	background: red;
}
.banner-b{
	height: 231px;
	background: #fff;
}
.banner-b-slide{
	position: relative;
}
.banner-b-slide ul li a{
	float:left;
	padding: 23px 0 0 5px;
}
.tmall{
	height: 27px;
	background: #f1f1f1;
	border-bottom: 2px solid #c12c26;
	position: relative;
}
.tmall h3{
	float:left;
	font-size: 14px;
	color:#6c6c6c;
	background: url(../images/tmall.gif) no-repeat -4px 2px;
	padding-left: 47px;
	margin-top: 8px;
}
.tmall h4{
	float:left;
	font-weight: 400;
	margin-top: 9px;
	margin-left: 10px;
}
.tmall .page{
	float:right;
	margin-top: 11px;
}
.tmall .line{
	width: 105px;
	height: 2px;
	background: #000;
	position: absolute;
	left:0;
	bottom:-2px;
}
.adv{
	width: 160px;
	height: 511px;
	/* background: yellowgreen; */
	float:left;
	margin-left: 10px;
}
.adv-b h5{
	height: 30px;
	line-height: 36px;
	color:#a1a1a1;
	background: #f1f1f1;
	font-weight: 400;
}
.user{
	width: 290px;
	height: 511px;
	background: skyblue;
	float:right;
}
.user-t{
	height: 167px;
	background: #fff url(../images/member-bg.jpg) no-repeat;
	border-bottom: 2px solid #eee;
	overflow: hidden;
}
.user-c{
	height: 109px;
	border-bottom: 2px solid #eee;
	background: #fff;
}
.user-c .list01{
	padding-left: 16px;
	padding-top: 15px;
}
.user-c .list01 li{
	float:left;
	width: 39px;
	height: 18px;
	line-height: 18px;
	margin-right: 16px;
	text-align: center;
}
.user .list01 li.current{
	font-weight: 700;
	border-bottom:2px solid #f40 ;
}
.user-c .list01 li a{
	color:#3c3c3c;
}
.user-c .list01 li a:hover{
	color:#f40;
}
.user-c .list02{
	padding-left: 20px;
	padding-top: 14px;
}
.user-c .list02 li{
	float:left;
}
.user-b{
	height: 231px;
	background: #fff;
}
.user-b ul li{
	float:left;
	width: 71px;
	height: 76px;
	border-right: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
}
.user-b ul li a{
	display: block;
	
}
.user-b ul li a img{
	width: 24px;
	height: 24px;
	margin: 10px auto;
}
.user-b ul li a h5{
	text-align: center;
	font-weight: 400;
}
.user-b .width72{
	width: 72px;
}
.wangwang{
	width: 60px;
	margin: 15px auto 5px;
}
.wangwang a img{
	width: 60px;
	border-radius: 50%;
}
.user-t h3{
	font-weight: 400;
	text-align: center;
}
.money{
	padding-left: 54px;
}
.money a{
	float:left;
}
.money span{
	float:left;
}
.money img{
	float:left;
	width: 16px;
	margin: 2px 5px 0px 0px;
}
.money .huo{
	margin: 0 5px;
}
.user-t .list{
	margin-top: 5px;
}
.user-t .list li{
	float:left;
	margin-right: 7px;
}
.user-t .list li a{
	display: block;
	width: 75px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color:#fff;
	background: #f40;
	font-size: 14px;
	font-weight: 700;
}
.user-t .list li a:hover{
	background: #F22D00;
}
.user-t .list .one{
	width: 92px;
}