.header-wrap {
	height: 34px;
	background: #ebebeb;
}

.header {
	width: 1200px;
	height: 34px;
	/* background: pink; */
	margin: 0 auto;
	line-height: 34px;
}

.mian {
	width: 108px;
	height: 24px;
	background: #009f7f;
	float: left;
	margin: 5px 0 0 1px;
	font-size: 12px;
	color: #fff;

	font-weight: 400;
	text-align: center;
	line-height: 24px;
	border-radius: 3px;
	position: relative;
}

.mian::after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -6px;
	border: 3px solid #009f7f;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
}

.gu {
	float: left;
	font-size: 12px;
	margin-left: 22px;
}

.gu:hover {
	color: #009f7f;
}

.tel {
	float: right;
	margin-right: 30px;
}

.logoAndArea {
	width: 1200px;
	height: 84px;
	/* background: pink; */
	margin: 0 auto;
}

.logoAndArea .logo {
	width: 213px;
	float: left;
	margin: 18px 0 0 44px;
	position: relative;
}

.logoAndArea .logo::after {
	content: "";
	width: 3px;
	height: 64px;
	background: url(../images/line.png);
	position: absolute;
	right: 0;
	top: 0;
}

.logoAndArea .logo a {
	/* 方案3 */
	/* font-size: 0; */
	display: block;
	width: 177px;
	height: 54px;
	overflow: hidden;
}

.logoAndArea .logo2 {
	float: left;
	width: 516px;
	height: 29px;
	background: url(../images/logo2.png) no-repeat;
	margin: 36px 0 0 26px;
}

.logo-right {
	display: flex;
	justify-content: flex-end;
	width: 390px;
	height: 65px;
	box-sizing: border-box;
	margin-top:0px;
}

.logo-right a {
	width: 61px;
	height: 50px;
	/* display: block; */
	margin-left: 25px;
	color: #009F7F;
	font-weight: 700;
	position: relative;
	font-size: 12px;
	background-size: 50% 50%;
}

/* .logo-right a:hover{
	transition: all .1s linear 0.5s;
	background-size: 100% 100%;
} */



.logoAndArea .logo-right {
	float: right;
}

.logoAndArea .logo-right a {
	float: left;
	font-size: 12px;
	color: #009F7F;
	font-weight: 700;
	margin: 4px 0 0 25px;
	position: relative;
	text-align: center;
}

.logoAndArea .logo-right a:nth-of-type(1)::after {
	content: "";
	width: 1px;
	height: 32px;
	background: #ccc;
	position: absolute;
	right: -10px;
	top: 56%;
}

.logoAndArea .logo-right a:nth-of-type(2)::after {
	content: "";
	width: 1px;
	height: 32px;
	background: #ccc;
	position: absolute;
	right: -10px;
	top: 56%;
}

.logoAndArea .logo-right a img {
	transition: all 1s;
	transform: scale(1);
	margin-bottom: 5px;
}

.logoAndArea .logo-right a:hover img {
	transform: scale(1.2);
}




.logo-right a:nth-of-type(1)::after {
	content: "";
	width: 1px;
	height: 32px;
	background: #ccc;
	position: absolute;
	right: -17px;
	top: 30px;
	transform: translateY(-50%);
}

.logo-right a:nth-of-type(2)::after {
	content: "";
	width: 1px;
	height: 32px;
	background: #ccc;
	position: absolute;
	right: -17px;
	top: 30px;
	transform: translateY(-50%);
}





.nav {
	width: 1200px;
	height: 50px;
	margin: 0 auto;
}

.nav-r {
	width: 910px;
	height: 51px;
	float: right;
}

.nav-r li {
	padding: 0 25px;
	float: left;
	position: relative;

}

.nav-r ul a {
	height: 43px;
	line-height: 43px;
	font-size: 16px;
	color: #333;
	font-family: "Microsoft Yahei";
}

.nav-r span {
	display: block;
	width: 8px;
	height: 6px;
	background: url(../images/sj.png) no-repeat center;
	position: absolute;
	right: 8px;
	top: 47%;
}

.nav-box1 ul li {
	float: left;
	padding: 0;
}

.nav-box1 li a {
	width: 227px;
	height: 132px;
	line-height: 210px;
	text-align: center;
	display: block;
	background: url(../images/java.png) no-repeat center 10px;
	border-right: 1px solid #dfdfdf;
}

.nav-box1 li:nth-of-type(2) a {
	background: url(../images/h5.png) no-repeat center 15px;
}

.nav-box1 li:nth-of-type(3) a {
	background: url(../images/bigdata.png) no-repeat center 15px;
}

.nav-box1 li:nth-of-type(4) a {
	background: url(../images/linux.png) no-repeat center 15px;
}

.nav-r li a:hover {
	color: #c30000;
}

.nav-r>ul>li:after {
	content: "";
	width: 100%;
	height: 3px;
	background: #007c67;
	position: absolute;
	left: -50%;
	bottom: -8px;
	visibility: hidden;
}

.nav .nav-r ul li:hover:after {
	visibility: visible;
	left: 0px;
	transition: all .6s ease;
}

/*下拉框*/
.nav-r li:nth-of-type(2) .nav-box1 {
	width: 912px;
	height: 0px;
	background: rgba(255, 255, 255, .9);
	position: absolute;
	left: -110px;
	top: 51px;
	visibility: hidden;
	/*z-index: -100;*/
	opacity: 0;
}

.nav-r li:nth-of-type(2):hover .nav-box1 {
	height: 132px;
	opacity: 1;
	visibility: visible;
	transition: all .3s ease;

}









.nav-box2 {
	width: 445px;
	height: 102px;
	position: relative;
}

.nav-box2 li:nth-of-type(1) {
	height: 103px;
	text-align: center;
	/* display: block; */
	border-right: 1px solid #dfdfdf;
	position: absolute;
	top: 0px;
	left: 0px;
}

.nav-box2 ul li {
	float: left;
	padding: 0;
	position: relative;
}

.nav-box2 li h3 {
	display: block;
	width: 120px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	font-family: "Microsoft Yahei";
	position: absolute;
	top: -20px;
	left: 60px;
}

.nav-box2 ul li a {
	width: 86px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	color: #FFFFFF;
	background: #e73f3e;
	position: absolute;
	top: 30px;
	left: 80px;
}

.nav-box2 ul li:nth-of-type(2) a {
	position: absolute;
	top: 30px;
	left: 60px;
}

.nav-box2 ul li a:hover {
	color: #EE9900;
}

.nav-box2 ul li:nth-of-type(1) {
	width: 222px;
	height: 102px;
	background: url(../images/guli.png) no-repeat;
	position: absolute;
	top: 30px;
	left: 20px;
}

.nav-box2 li:nth-of-type(2) {
	width: 48px;
	height: 40px;
	background: url(../images/live.png) no-repeat;
	position: absolute;
	top: 30px;
	left: 270px;
}

.nav-r li:nth-of-type(4) .nav-box2 {
	width: 445px;
	height: 102px;
	background: rgba(255, 255, 255, .9);
	position: absolute;
	left: -110px;
	top: 51px;
	visibility: hidden;
	/*z-index: -100;*/
	opacity: 0;
}

.nav-r li:nth-of-type(4):hover .nav-box2 {
	height: 132px;
	opacity: 1;
	visibility: visible;
	transition: all .3s ease;

}


.nav-box3 {
	width: 445px;
	left: -800px;
	height: 102px;
	position: relative;
}

.nav-box3 li:nth-of-type(1) {
	height: 103px;
	text-align: center;
	/* display: block; */
	border-right: 1px solid #dfdfdf;
	position: absolute;
	top: 0px;
	left: 0px;
}

.nav-box3 li:nth-of-type(2) {
	height: 103px;
	text-align: center;
	/* display: block; */
	border-right: 1px solid #dfdfdf;
	position: absolute;
	top: 0px;
	left: 30px;
}

.nav-box3 li:nth-of-type(2) a {
	position: absolute;
	top: 0px;
	left: 70px;
}

.nav-box3 ul li {
	float: left;
	padding: 0;
	position: relative;
}

.nav-box3 ul li a {
	width: 86px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	color: #FFFFFF;
	background: #e73f3e;
	position: absolute;
	top: 30px;
	left: 80px;
}

.nav-box3 ul li:nth-of-type(2) a {
	position: absolute;
	top: 30px;
	left: 60px;
}

.nav-box3 ul li:nth-of-type(3) {
	position: absolute;
	top: 30px;
	left: 530px;
}

.nav-box3 ul li a:hover {
	color: #EE9900;
}

.nav-box3 ul li:nth-of-type(1) {
	width: 222px;
	height: 102px;
	background: url(../images/gy.png) no-repeat;
	position: absolute;
	top: 30px;
	left: 20px;
}

.nav-box3 li h3 {
	display: block;
	width: 120px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	font-family: "Microsoft Yahei";
	position: absolute;
	top: -20px;
	left: 70px;
}

.nav-box3 li:nth-of-type(2) {
	width: 222px;
	height: 102px;
	background: url(../images/hj.png) no-repeat;
	position: absolute;
	top: 30px;
	left: 270px;
}

.nav-box3 li:nth-of-type(3) {
	width: 222px;
	height: 102px;
	background: url(../images/fc.png) no-repeat;
	position: absolute;
	top: 30px;
	left: 270px;
}

.nav-r li:nth-of-type(6) .nav-box3 {
	width: 912px;
	height: 0px;
	background: rgba(255, 255, 255, .9);
	position: absolute;
	left: -110px;
	top: 51px;
	visibility: hidden;
	/*z-index: -100;*/
	opacity: 0;
}

.nav-r li:nth-of-type(6):hover .nav-box3 {
	height: 132px;
	opacity: 1;
	visibility: visible;
	transition: all .3s ease;

}


.nav-box4 {
	width: 445px;
	height: 102px;
	position: relative;
}

.nav-box4 li:nth-of-type(1) {
	height: 103px;
	text-align: center;
	/* display: block; */
	border-right: 1px solid #dfdfdf;
	position: absolute;
	top: 0px;
	left: 0px;
}

.nav-box4 ul li {
	float: left;
	padding: 0;
	position: relative;
}

.nav-box4 li h3 {
	display: block;
	width: 120px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	font-family: "Microsoft Yahei";
	position: absolute;
	top: -20px;
	left: 60px;
}

.nav-box4 ul li a {
	width: 86px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	color: #FFFFFF;
	background: #e73f3e;
	position: absolute;
	top: 30px;
	left: 80px;
}

.nav-box4 ul li:nth-of-type(2) a {
	position: absolute;
	top: 30px;
	left: 60px;
}

.nav-box4 ul li a:hover {
	color: #EE9900;
}

.nav-box4 ul li:nth-of-type(1) {
	width: 222px;
	height: 102px;
	background: url(../images/baoming.png) no-repeat;
	position: absolute;
	top: 30px;
	left: 20px;
}

.nav-box4 li:nth-of-type(2) {
	width: 48px;
	height: 40px;
	background: url(../images/jiaofei.png) no-repeat;
	position: absolute;
	top: 30px;
	left: 270px;
}

.nav-r li:nth-of-type(7) .nav-box4 {
	width: 445px;
	height: 0px;
	background: rgba(255, 255, 255, .9);
	position: absolute;
	left: -110px;
	top: 51px;
	visibility: hidden;
	/*z-index: -100;*/
	opacity: 0;
}

.nav-r li:nth-of-type(7):hover .nav-box4 {
	height: 132px;
	opacity: 1;
	visibility: visible;
	transition: all .3s ease;

}

/*轮播图*/
.container {
	/*display: none;*/
	width: 100%;
	height: 400px;
	background: url(../images/lbt2.jpg) no-repeat center;
}

.container-wrap {
	width: 1200px;
	height: 400px;
	margin: 0 auto;
	position: relative;
}

.container-left {
	position: absolute;
	top: -49px;
	left: 0;
	width: 260px;
	height: 400px;
	z-index: 100;
	font-family: "Microsoft Yahei";
	border-radius: 8px 8px 0px 0px;
}

.container-left .con-top {
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	background: #009f7f;
	text-align: center;
	letter-spacing: 3px;
	border-radius: 8px 8px 0px 0px;
}

.container-left .con-bot {
	background-color: rgba(0, 0, 0, .6);
	height: 100%;
	overflow: hidden;
}
.container-left li:first-child {
	margin-top: 20px;
}

.container-left li {
	position: relative;
	width: 260px;
	height: 68px;
	box-sizing: border-box;
	box-sizing: border-box;
	margin: 27px 0;
	line-height: 32px;
}
.container-left li:after {
    content: '';
    position: absolute;
    display: block;
    float: right;
    width: 6px;
    height: 10px;
    background: url(../images/yd.png) no-repeat;
    font-size: 20px;
    top: 33px;
    right: 20px;
}
.con-bot li span {
	display: block;
	width: 3px;
	height: 0px;
	background-color: #ffeb42;
	position: absolute;
	top: 0;
	left: 0;
	/* display: none; */
	transition: all .3s ease;
}
.container-left .con-bot{
	position: absolute;
	left: 50%;
	bottom: -50px;
}
.con-bot li a {
    color: #fff;
    display: block;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}
.con-bot .bot1 dl{
	margin: 5px 0 3px 0;
	font-size: 16px;
	color: #fff;
}
.con-bot .bot1 dl dt:nth-of-type(2){
	line-height: 30px;
	font-size: 14px;
}
.container-left li:hover span{
	border-left:3px;
	height:68px;
}	

.con-bot li:hover dt{ 
	color:yellow ;
	font-weight: 700;
	}



.container-right {
	width: 940px;
	height: 400px;
	/*background: yellow;*/
	float: right;
	margin-top: -1px;
	position: relative;
}

/*小圆点*/
.container ul {
	margin: 0 auto;
	position: absolute;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
}

.container-right ul li {
	float: left;
	width: 12px;
	height: 12px;
	background: #fff;
	margin: 0 5px;
	border-radius: 50%;
}

/*按钮*/
.left-button {
	width: 27px;
	height: 44px;
	background: url(../images/z.svg) no-repeat;
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(50%);
	cursor: pointer;
}

.right-button {
	width: 27px;
	height: 44px;
	background: url(../images/y.svg) no-repeat;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(50%);
	cursor: pointer;
}
