/* 基础设置 */
html,body,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd,p,input,button{
	margin: 0;
	padding: 0;
}
ul,ol{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	/* 字号的百分比 */
	font-size: 100%;
}
table{
	border:1px solid red;
	/* 单元格与单元格之间的间距  相当于是cellspacing*/
	border-spacing: 0;
	/* 1px 边框 */
	border-collapse: collapse;
}
th,td{
	border:1px solid red;
}
b,strong{
	font-weight: 400;
}
i,em{
	font-style: normal;
}
u,ins,s,del{
	text-decoration: none;
}
img{
	/* 去除4px留白 */
	display: block;
}
.clearfix::after{
				content:"";
				display: block;
				clear:both;
}
input,button{
	outline: none;
}

/* 风格设置 */
body{
	font: 12px/1.5 tahoma, arial, \5b8b\4f53;
	color:#6c6c6c;
}
a{
	text-decoration: none;
	color:#6c6c6c;
}
a:hover{
	color:#f40;
}
.colorF40{
	color:#f40 !important;
}