/* 基础设置 */
html,body,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd,p,input,button{
	margin: 0;
	padding: 0;
}
ul,ol{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	/* 字号的百分比 */
	font-size: 100%;
}
table{
	border:1px solid red;
	/* 单元格与单元格之间的间距  相当于是cellspacing*/
	border-spacing: 0;
	/* 1px 边框 */
	border-collapse: collapse;
}
th,td{
	border:1px solid red;
}
b,strong{
	font-weight: 400;
}
i,em{
	font-style: normal;
}
u,ins,s,del{
	text-decoration: none;
}
img{
	/* 去除4px留白 */
	display: block;
}
input,button{
	/* 去除轮廓线 */
	outline: none;
	
}
.clearfix::after{
				content:"";
				display: block;
				clear:both;
}


/* 风格设置 */
body{
	font: 12px/1.5 tahoma, arial, \5b8b\4f53;
	color:#6c6c6c;
}
a{
	text-decoration: none;
	color:#6c6c6c;
}
a:hover{
	color:#f40;
}
.colorF40{
	color:#f40 !important;
}
/* ============================================================图标字体================================================= */
@font-face {font-family: 'iconfont';
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:12px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}